.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;

}
header {
	margin-bottom: 100px;
}
footer {
	margin-top: 100px;
	position: absolute;
	bottom: -140px;
	left: 0;
	width: 100%;
}
.sign-container {
	height: 100%;	
}
.sign-wrapper {
	width: 280px;
	background: #fff;
	margin:  auto;
	
}
.sign-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
}
.sign-form-title {
	margin: 20px;
}
.input-text {
	display: block;
	margin: 5px;
	width: 250px;
}
.input-text {
	padding: 0 10px;
	font-size: 16px;
}
.btn_submit {
	margin: 5px 0 10px 0;
	width: 250px;
}
.sign-form a {
	margin: 0 0 10px 0;
}

@media (min-height: 820px) {
	.wrapper {
		height: 90vh;
	}
	footer {
		bottom: -95px;
	}
}
